body {
    background-color: #F5EFEB;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar-bg {
    background-color: #2F4156;
}

.primary-color {
    color: #2F4156;
}

.secondary-color {
    color: #567C8D;
}

.primary-btn {
    background-color: #567C8D;
    transition: 0.3s;
}

.primary-btn:hover {
    background-color: #2F4156;
}

.card-shadow {
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}